.ipynb_checkpoints/
.mypy_cache/
.tryceratops-errors.log
/.coverage
/.coverage.*
/coverage.xml
/.nox/
/.python-version
/.pytype/
/scratch/
/.virtual_documents/
/dist/
/docs/_build/
/src/*.egg-info/
/htmlcov
__pycache__/
