[tool.poetry]
name = "nbpreview"
version = "0.0.0"
description = "nbpreview"
authors = ["Paulo S. Costa <Paulo.S.Costa5@gmail.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/paw-lu/nbpreview"
repository = "https://github.com/paw-lu/nbpreview"
documentation = "https://nbpreview.readthedocs.io"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.urls]
Changelog = "https://github.com/paw-lu/nbpreview/releases"

[tool.poetry.dependencies]
python = "^3.7.0"
rich = "^10.2.2"
typer = "^0.3.2"
nbformat = "^5.1.2"
Pygments = "^2.9.0"
ipython = "^7.24.1"
importlib-metadata = { version = "^4.5.0", python = "<3.8" }
lxml = "^4.6.3"
pylatexenc = "^2.10"
httpx = "^0.18.1"
Jinja2 = "^3.0.1"
html2text = "^2020.1.16"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
coverage = { extras = ["toml"], version = "^5.4" }
safety = "^1.10.3"
mypy = "^0.812"
typeguard = "^2.12.1"
xdoctest = { extras = ["colors"], version = "^0.15.4" }
sphinx = "^3.5.4"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.12.1"
flake8 = "^3.9.1"
black = "^21.5b2"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.3.2"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = "^0.11.1"
darglint = "^1.7.0"
reorder-python-imports = "^2.5.0"
pre-commit-hooks = "^3.4.0"
sphinx-rtd-theme = "^0.5.1"
sphinx-click = "^2.6.0"
pdbpp = "^0.10.2"
Pygments = "^2.9.0"
ipykernel = "^5.5.5"
typing-extensions = "^3.10.0"
pytest-mock = "^3.6.1"

[tool.poetry.scripts]
nbpreview = "nbpreview.__main__:app"
nbp = "nbpreview.__main__:app"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["nbpreview"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = ["no_atty_mock: Test where sys.stdout.isatty should not be mocked"]
