[tool.poetry]
name = "nbpreview"
version = "0.2.0"
description = "nbpreview"
authors = ["Paulo S. Costa <Paulo.S.Costa5@gmail.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/paw-lu/nbpreview"
repository = "https://github.com/paw-lu/nbpreview"
documentation = "https://nbpreview.readthedocs.io"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.urls]
Changelog = "https://github.com/paw-lu/nbpreview/releases"

[tool.poetry.dependencies]
python = "^3.8.0"
rich = "^10.9.0"
typer = "^0.4.0"
nbformat = "^5.1.2"
Pygments = "^2.10.0"
ipython = "^7.27.0"
lxml = "^4.6.3"
pylatexenc = "^2.10"
httpx = "^0.19.0"
Jinja2 = "^3.0.1"
html2text = "^2020.1.16"
types-click = "^7.1.5"
Pillow = "^8.3.1"
terminedia = "^0.4.1"
picharsso = "^2.0.1"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
coverage = { extras = ["toml"], version = "^5.4" }
safety = "^1.10.3"
mypy = "^0.910"
typeguard = "^2.12.1"
xdoctest = { extras = ["colors"], version = "^0.15.8" }
sphinx = "^4.1.2"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.15.0"
flake8 = "^3.9.1"
black = "^21.8b0"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.3.2"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = "^0.12.1"
darglint = "^1.7.0"
reorder-python-imports = "^2.6.0"
pre-commit-hooks = "^4.0.1"
sphinx-rtd-theme = "^0.5.1"
sphinx-click = "^3.0.1"
pdbpp = "^0.10.3"
Pygments = "^2.10.0"
ipykernel = "^6.3.1"
pytest-mock = "^3.6.1"
interrogate = "^1.4.0"
pyupgrade = "^2.25.0"

[tool.poetry.scripts]
nbpreview = "nbpreview.__main__:app"
nbp = "nbpreview.__main__:app"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["nbpreview"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[tool.mypy]
strict = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[[tool.mypy.overrides]]
module = "lxml.*,nbformat.*,PIL.*,picharsso.*,pygments,pylatexenc,pytest_mock,terminedia"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "nbpreview"
disallow_untyped_calls = false

# Might change, see https://github.com/python/mypy/issues/10198
[tool.mypy-jinja2]
no_implicit_reexport = false

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = ["no_atty_mock: Test where sys.stdout.isatty should not be mocked"]

[tool.interrogate]
verbose = 2
fail-under = 100
color = true
