[tool.poetry]
name = "nbpreview"
version = "0.3.0"
description = "nbpreview"
authors = ["Paulo S. Costa <Paulo.S.Costa5@gmail.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://github.com/paw-lu/nbpreview"
repository = "https://github.com/paw-lu/nbpreview"
documentation = "https://nbpreview.readthedocs.io"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
]

[tool.poetry.urls]
Changelog = "https://github.com/paw-lu/nbpreview/releases"

[tool.poetry.dependencies]
python = "^3.8.0"
rich = "^10.9.0"
typer = "^0.4.0"
nbformat = "^5.1.2"
Pygments = "^2.10.0"
ipython = "^7.27.0"
lxml = "^4.6.3"
pylatexenc = "^2.10"
httpx = ">=0.19,<0.21"
Jinja2 = "^3.0.1"
html2text = "^2020.1.16"
types-click = "^7.1.5"
Pillow = "^8.3.1"
terminedia = "^0.4.1"
picharsso = "^2.0.1"
validators = "^0.18.2"
yarl = "^1.6.3"
markdown-it-py = "^1.1.0"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
coverage = { extras = ["toml"], version = "^6.0" }
safety = "^1.10.3"
mypy = "^0.910"
typeguard = "^2.13.0"
xdoctest = { extras = ["colors"], version = "^0.15.10" }
sphinx = "^4.2.0"
sphinx-autobuild = "^2021.3.14"
pre-commit = "^2.15.0"
flake8 = "^4.0.1"
black = "^21.12b0"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^21.11.29"
flake8-docstrings = "^1.5.0"
flake8-rst-docstrings = "^0.2.3"
pep8-naming = "^0.12.1"
darglint = "^1.8.1"
pre-commit-hooks = "^4.0.1"
sphinx-rtd-theme = "^1.0.0"
sphinx-click = "^3.0.1"
pdbpp = "^0.10.3"
Pygments = "^2.10.0"
ipykernel = "^6.4.2"
pytest-mock = "^3.6.1"
interrogate = "^1.5.0"
pyupgrade = "^2.29.0"
tryceratops = "^1.0.0"
isort = "^5.9.3"
nbqa = "^1.1.1"
click = "^8.0.3"

[tool.poetry.scripts]
nbpreview = "nbpreview.__main__:app"
nbp = "nbpreview.__main__:app"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["nbpreview"]

[tool.coverage.report]
show_missing = true
fail_under = 100
exclude_lines = [
    # Have to re-enable the standard pragma
    "pragma: no cover",
    # Typing overloads are never run
    "@typing.overload",
]

[tool.mypy]
strict = true
warn_unreachable = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[[tool.mypy.overrides]]
module = "lxml.*,nbformat.*,PIL.*,picharsso.*,pygments,pylatexenc,pytest_mock,terminedia,validators"
ignore_missing_imports = true

[[tool.mypy.overrides]]
module = "nbpreview"
disallow_untyped_calls = false

[[tool.mypy.overrides]]
module = "markdown_it"
no_implicit_reexport = false

# Might change, see https://github.com/python/mypy/issues/10198
[tool.mypy-jinja2]
no_implicit_reexport = false

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
markers = [
    "no_atty_mock: Test where sys.stdout.isatty should not be mocked",
    "no_typeguard: Tests typeguard should ignore",
]
norecursedirs = "tests/util"

[tool.interrogate]
verbose = 2
fail-under = 100
color = true

[tool.isort]
profile = "black"

[tool.nbqa.dont_skip_bad_cells]
black = true
flake8 = true
pyupgrade = true
isort = true

[tool.nbqa.addopts]
flake8 = ["--extend-ignore=D100"]
