<div class="terminal-container">
  <div class="terminal {{ theme }}-terminal">
    <div class="top">
      <div class="buttons">
        <span class="circle {{ theme }}-red"></span>
        <span class="circle {{ theme }}-yellow"></span>
        <span class="circle {{ theme }}-green"></span>
      </div>
    </div>
    <code>
      <pre class="terminal-content">{code}</pre>
    </code>
  </div>
</div>
