<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <script src="https://cdn.jsdelivr.net/gh/koaning/justcharts/justcharts.js"></script>
    <title>{{ execution_count_indicator }}{{ subject }}</title>
</head>
<body>
    <vegachart style="width: 100%">
        {{ vega_json }}
    </vegachart>
</body>
<html></html>
</html>
